In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("transactions.csv")
df.head()

,order_date,user_id,is_elite_user,supplier_id,order_line_item_id,order_parent_id,product_content_id,product_variant_id,original_price,discounted_price,ship_cost,coupon_id,coupon_discount,promotion_name,promotion_award_value,is_wallet_trx,is_saved_card_trx,is_returned
0,2021-05-01 00:00:01.761000+00:00,3941815,0,4662,901280147,595758968,95503167,159147197,79.90,51.94,8.88,NaN,0.0,Sepette %35 İndirim,35.0,0,True,0.0
1,2021-05-01 00:00:01.761000+00:00,3941815,0,163,901280149,595758968,36313798,64622938,129.95,59.97,9.40,NaN,0.0,Sepette %40 İndirim,40.0,0,True,0.0
2,2021-05-01 00:00:01.761000+00:00,3941815,0,157306,901280145,595758968,36888320,65612791,59.99,49.99,10.67,NaN,0.0,NaN,NaN,0,True,0.0
3,2021-05-01 00:00:01.761000+00:00,3941815,0,163856,901280144,595758968,36888399,65613254,49.90,49.90,10.67,NaN,0.0,NaN,NaN,0,True,0.0
4,2021-05-01 00:00:02.742000+00:00,15996105,1,968,901279297,595758987,96930601,161408176,89.99,71.99,9.40,NaN,0.0,Sepette %20 İndirim,20.0,0,False,0.0

In [3]:
supplier_return = pd.read_csv("supplier_return.csv")
supplier_return

       supplier_id  returnRate
0           247019    0.000000
1           264022    0.000000
2           165838    0.000000
3           294046    0.000000
4           185253    0.000000
...            ...         ...
22531       108994    0.097232
22532       235265    0.096283
22533       115175    0.026504
22534       335515    0.068950
22535       175801    0.079930

[22536 rows x 2 columns]

In [4]:
df = df.merge(supplier_return, on="supplier_id")
df

,order_date,user_id,is_elite_user,supplier_id,order_line_item_id,order_parent_id,product_content_id,product_variant_id,original_price,discounted_price,ship_cost,coupon_id,coupon_discount,promotion_name,promotion_award_value,is_wallet_trx,is_saved_card_trx,is_returned,returnRate
0,2021-05-01 00:00:01.761000+00:00,3941815,0,4662,901280147,595758968,95503167,159147197,79.9,51.94,8.880000,NaN,0.00,Sepette %35 İndirim,35.0,0,True,0.0,0.098178
1,2021-05-01 00:11:01.908000+00:00,846261,0,4662,901317372,595779437,97027250,161565995,14.9,11.92,4.563941,NaN,0.00,Sepette %20 İndirim,20.0,0,False,0.0,0.098178
2,2021-05-01 00:27:09.965000+00:00,244942,1,4662,901366867,595806906,62212612,108756538,69.9,38.45,8.880000,c365d0d3-e7ca-4c44-9bb5-82790265a680,-6.28,Sepette %45 İndirim,45.0,1,False,0.0,0.098178
3,2021-05-01 00:27:51.300000+00:00,45974971,1,4662,901368497,595807996,79870825,135408496,49.9,32.44,8.880000,NaN,0.00,Sepette %35 İndirim,35.0,1,False,0.0,0.098178
4,2021-05-01 01:10:44.282000+00:00,22708302,1,4662,901478384,595867189,89451047,149564473,129.9,84.44,8.880000,NaN,0.00,Sepette %35 İndirim,35.0,0,True,0.0,0.098178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11193635,2021-08-07 23:16:46.148000+00:00,1476077,0,266396,1121211942,729930568,127605007,213391298,299.9,249.90,10.670000,NaN,0.00,NaN,NaN,0,False,NaN,0.283951
11193636,2021-08-07 23:32:55.812000+00:00,43786335,0,418863,1121232536,729944891,123214073,198866350,219.9,169.90,11.330000,NaN,0.00,NaN,NaN,0,True,NaN,0.021053
11193637,2021-08-07 23:39:44.468000+00:00,33168374,0,346230,1121240451,729950697,102763097,169983093,100.0,80.00,NaN,NaN,0.00,NaN,NaN,0,True,NaN,0.000000
11193638,2021-08-07 23:44:18.326000+00:00,18487676,0,109909,1121246380,729954368,39960540,70793143,49.0,24.00,8.880000,NaN,0.00,NaN,NaN,0,True,NaN,0.041194
11193639,2021-08-07 23:58:32.601000+00:00,16767479,0,427295,1121264038,729965476,42868040,76190619,99.9,63.90,11.330000,78c7fe26-02f6-44aa-96d6-4931680f034a,-14.06,NaN,NaN,1,False,NaN,0.010638

In [5]:
supplier_disputed_return = pd.read_csv("supplier_disputed_return.csv")
supplier_disputed_return

,supplier_id,total_claim,unresolved_claim,unresolved_accepted_claim,unresolvedclaim_percentage
0,344,164,0,0,0.000000
1,263495,332,0,0,0.000000
2,193158,670,1,0,0.000000
3,146855,86,0,0,0.000000
4,225296,43,0,0,0.000000
...,...,...,...,...,...
20883,225393,37,3,2,0.666667
20884,337455,37,3,2,0.666667
20885,231111,37,6,4,0.666667
20886,290530,37,5,4,0.800000
20887,167298,37,13,12,0.923077

In [6]:
df = df.merge(supplier_disputed_return, on="supplier_id")
df

,order_date,user_id,is_elite_user,supplier_id,order_line_item_id,order_parent_id,product_content_id,product_variant_id,original_price,discounted_price,...,promotion_name,promotion_award_value,is_wallet_trx,is_saved_card_trx,is_returned,returnRate,total_claim,unresolved_claim,unresolved_accepted_claim,unresolvedclaim_percentage
0,2021-05-01 00:00:01.761000+00:00,3941815,0,4662,901280147,595758968,95503167,159147197,79.90,51.94,...,Sepette %35 İndirim,35.0,0,True,0.0,0.098178,16357,76,25,0.328947
1,2021-05-01 00:11:01.908000+00:00,846261,0,4662,901317372,595779437,97027250,161565995,14.90,11.92,...,Sepette %20 İndirim,20.0,0,False,0.0,0.098178,16357,76,25,0.328947
2,2021-05-01 00:27:09.965000+00:00,244942,1,4662,901366867,595806906,62212612,108756538,69.90,38.45,...,Sepette %45 İndirim,45.0,1,False,0.0,0.098178,16357,76,25,0.328947
3,2021-05-01 00:27:51.300000+00:00,45974971,1,4662,901368497,595807996,79870825,135408496,49.90,32.44,...,Sepette %35 İndirim,35.0,1,False,0.0,0.098178,16357,76,25,0.328947
4,2021-05-01 01:10:44.282000+00:00,22708302,1,4662,901478384,595867189,89451047,149564473,129.90,84.44,...,Sepette %35 İndirim,35.0,0,True,0.0,0.098178,16357,76,25,0.328947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11190457,2021-08-07 23:08:15.537000+00:00,40314595,0,121578,1121198687,729922757,33204620,59792208,46.95,46.95,...,NaN,NaN,1,False,NaN,0.021908,105,0,0,0.000000
11190458,2021-08-07 23:16:46.148000+00:00,1476077,0,266396,1121211942,729930568,127605007,213391298,299.90,249.90,...,NaN,NaN,0,False,NaN,0.283951,25,0,0,0.000000
11190459,2021-08-07 23:32:55.812000+00:00,43786335,0,418863,1121232536,729944891,123214073,198866350,219.90,169.90,...,NaN,NaN,0,True,NaN,0.021053,3,0,0,0.000000
11190460,2021-08-07 23:44:18.326000+00:00,18487676,0,109909,1121246380,729954368,39960540,70793143,49.00,24.00,...,NaN,NaN,0,True,NaN,0.041194,421,73,73,1.000000
11190461,2021-08-07 23:58:32.601000+00:00,16767479,0,427295,1121264038,729965476,42868040,76190619,99.90,63.90,...,NaN,NaN,1,False,NaN,0.010638,14,0,0,0.000000

In [7]:
supplier_defective_return = pd.read_csv("supplier_defective_return.csv")
supplier_defective_return

       supplier_id  returnRate
0           161841    0.000000
1           201226    0.000000
2           108251    0.000000
3           201975    0.000000
4           389847    0.000000
...            ...         ...
22531       110564    0.003115
22532       390815    0.003115
22533       121338    0.006231
22534       131868    0.012461
22535       233930    0.003009

[22536 rows x 2 columns]

In [8]:
supplier_defective_return.columns = ["supplier_id", "defective_returnRate"]

In [9]:
df = df.merge(supplier_defective_return, on="supplier_id")
df

,order_date,user_id,is_elite_user,supplier_id,order_line_item_id,order_parent_id,product_content_id,product_variant_id,original_price,discounted_price,...,promotion_award_value,is_wallet_trx,is_saved_card_trx,is_returned,returnRate,total_claim,unresolved_claim,unresolved_accepted_claim,unresolvedclaim_percentage,defective_returnRate
0,2021-05-01 00:00:01.761000+00:00,3941815,0,4662,901280147,595758968,95503167,159147197,79.90,51.94,...,35.0,0,True,0.0,0.098178,16357,76,25,0.328947,0.003045
1,2021-05-01 00:11:01.908000+00:00,846261,0,4662,901317372,595779437,97027250,161565995,14.90,11.92,...,20.0,0,False,0.0,0.098178,16357,76,25,0.328947,0.003045
2,2021-05-01 00:27:09.965000+00:00,244942,1,4662,901366867,595806906,62212612,108756538,69.90,38.45,...,45.0,1,False,0.0,0.098178,16357,76,25,0.328947,0.003045
3,2021-05-01 00:27:51.300000+00:00,45974971,1,4662,901368497,595807996,79870825,135408496,49.90,32.44,...,35.0,1,False,0.0,0.098178,16357,76,25,0.328947,0.003045
4,2021-05-01 01:10:44.282000+00:00,22708302,1,4662,901478384,595867189,89451047,149564473,129.90,84.44,...,35.0,0,True,0.0,0.098178,16357,76,25,0.328947,0.003045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11190457,2021-08-07 23:08:15.537000+00:00,40314595,0,121578,1121198687,729922757,33204620,59792208,46.95,46.95,...,NaN,1,False,NaN,0.021908,105,0,0,0.000000,0.001826
11190458,2021-08-07 23:16:46.148000+00:00,1476077,0,266396,1121211942,729930568,127605007,213391298,299.90,249.90,...,NaN,0,False,NaN,0.283951,25,0,0,0.000000,0.000000
11190459,2021-08-07 23:32:55.812000+00:00,43786335,0,418863,1121232536,729944891,123214073,198866350,219.90,169.90,...,NaN,0,True,NaN,0.021053,3,0,0,0.000000,0.000000
11190460,2021-08-07 23:44:18.326000+00:00,18487676,0,109909,1121246380,729954368,39960540,70793143,49.00,24.00,...,NaN,0,True,NaN,0.041194,421,73,73,1.000000,0.003703
11190461,2021-08-07 23:58:32.601000+00:00,16767479,0,427295,1121264038,729965476,42868040,76190619,99.90,63.90,...,NaN,1,False,NaN,0.010638,14,0,0,0.000000,0.001182

In [10]:
reviews = pd.read_csv("reviews.csv")
reviews

,product_content_id,rate,comment,review_like_count,supplier_id
0,35244093,5,75c göğüse S beden aldım spor için daha da sar...,NaN,968
1,97842293,5,fiyatı yüksek ama çok memnunum,NaN,367
2,86701595,5,yorumlara ve beden tablosuna bakarak 1 beden b...,1.0,191874
3,107237246,3,çok kısa iade ettim. sıradan geldi,NaN,968
4,45019480,5,Renkler daha canlı. Hoş,NaN,968
...,...,...,...,...,...
6176836,53600107,4,Çok güzel beğendim 👍,NaN,637
6176837,42373905,1,pamuk değil sentetik.. ve beklediğimiz ürün de...,NaN,142033
6176838,54086523,5,Kışa hazırlık bu fiyata çok iyi aldık. Fakat ş...,NaN,1188
6176839,95633171,3,Ürün fotografta gözüktüğü gibi fakat kalıbı aş...,1.0,968
6176840,93075565,5,"Ne görünüyorsa o gelmiş, teşekkürler, ayrıca h...",1.0,248077

In [11]:
review_rates_mean = dict(reviews.groupby(["product_content_id", "supplier_id"])["rate"].mean())
#review_rates_mean

In [12]:
review_rates_min = dict(reviews.groupby(["product_content_id", "supplier_id"])["rate"].min())
#review_rates_min

In [13]:
review_rates_max = dict(reviews.groupby(["product_content_id", "supplier_id"])["rate"].max())
#review_rates_max

In [14]:
review_rates_median = dict(reviews.groupby(["product_content_id", "supplier_id"])["rate"].median())
#review_rates_median

In [15]:
df["review_rates_mean"] = df.apply(lambda x: review_rates_mean.get((x.product_content_id, x.supplier_id), 0), axis=1)

In [16]:
df["review_rates_min"] = df.apply(lambda x: review_rates_min.get((x.product_content_id, x.supplier_id), 0), axis=1)

In [17]:
df["review_rates_max"] = df.apply(lambda x: review_rates_max.get((x.product_content_id, x.supplier_id), 0), axis=1)

In [18]:
df["review_rates_median"] = df.apply(lambda x: review_rates_median.get((x.product_content_id, x.supplier_id), 0), axis=1)

In [19]:
products = pd.read_csv("products.csv")
products

,product_id,product_content_id,product_variant_id,product_name,brand_id,brand_name,gender_id,gender_name,category_id,category_name,color_id,color_name,supplier_color_name,attributet_name,attribute_value
0,86747186,49156804,87148849,3'lü Müslin Örtü Seti - %100 Pamuk Bebek Müsli...,995186,Li Puna,NaN,Unknown,4979,Müslin Bez,NaN,NaN,UNKNOWN,BEDEN,Tek Ebat
1,37159399,44391553,78625630,Haşema Nehar Bakır Çizgili Boru Paça Siyah Tes...,35046,Remsa Mayo,4295.0,Kadın / Kız,2760,Tesettür Mayo,7005.0,Metalik,BAKIR,BEDEN,XL
2,83771873,96708156,161092495,Zincir Fantezi Bel Zinciri-0610,1074023,vonda wear,4295.0,Kadın / Kız,3098,Fantezi Aksesuar,6996.0,Altın,Gold,BEDEN,Tek Ebat
3,66208922,77520098,132019116,Kadın Haki Yeşili Renkli Cerrahi Takım,961534,Moodamedikal,NaN,Unknown,3914,İş Kıyafetleri,NaN,NaN,UNKNOWN,BEDEN,XS
4,68189697,79713829,135202630,Ibıza Uzun Tunik,1021561,Jadeandmate,4295.0,Kadın / Kız,1018,Plaj Elbisesi,6996.0,Altın,Multi,BEDEN,M/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457562,105235826,119081308,191792203,Henna Dantelli Haki Bralet Takım,8173,Cansoy,4295.0,Kadın / Kız,2144,İç çamaşırı takımları,7015.0,Haki,Haki,BEDEN,75B
1457563,80081954,92558062,154329388,Askerlik Seti Acemi Asker 6'lı Temel Bedelli A...,977589,Silyon Askeri Giyim,4294.0,Erkek,2144,İç çamaşırı takımları,7015.0,Haki,Haki-2,BEDEN,M
1457564,80258129,45437018,80173430,Haki Dolgulu Destekli Balenli Dantel Bralet I...,963578,BESMOD,4295.0,Kadın / Kız,2144,İç çamaşırı takımları,7015.0,Haki,Haki,BEDEN,80B
1457565,80081954,93307594,155518766,3'lü Temel Askerlik Seti Acemi Asker - Bedelli...,977589,Silyon Askeri Giyim,4294.0,Erkek,2144,İç çamaşırı takımları,7015.0,Haki,Haki,BEDEN,L
1457566,26585654,96699445,161080682,Kadın Haki Yeşil Perfero Desteksiz Dantelli Sü...,8173,Cansoy,4295.0,Kadın / Kız,2144,İç çamaşırı takımları,7015.0,Haki,HAKİ,BEDEN,90

In [20]:
products.columns

Index(['product_id', 'product_content_id', 'product_variant_id',
       'product_name', 'brand_id', 'brand_name', 'gender_id', 'gender_name',
       'category_id', 'category_name', 'color_id', 'color_name',
       'supplier_color_name', 'attributet_name', 'attribute_value'],
      dtype='object')

In [21]:
df = df.merge(products, on=["product_content_id", "product_variant_id"])
df

,order_date,user_id,is_elite_user,supplier_id,order_line_item_id,order_parent_id,product_content_id,product_variant_id,original_price,discounted_price,...,brand_name,gender_id,gender_name,category_id,category_name,color_id,color_name,supplier_color_name,attributet_name,attribute_value
0,2021-05-01 00:00:01.761000+00:00,3941815,0,4662,901280147,595758968,95503167,159147197,79.90,51.94,...,Slazenger,4294.0,Erkek,604,T-Shirt,6998.0,Beyaz,Beyaz,BEDEN,XL
1,2021-06-09 19:44:28.677000+00:00,10351401,1,4662,1006664760,654423557,95503167,159147197,79.90,59.90,...,Slazenger,4294.0,Erkek,604,T-Shirt,6998.0,Beyaz,Beyaz,BEDEN,XL
2,2021-07-30 18:58:00.932000+00:00,1197522,1,4662,1106188515,721077393,95503167,159147197,79.90,49.90,...,Slazenger,4294.0,Erkek,604,T-Shirt,6998.0,Beyaz,Beyaz,BEDEN,XL
3,2021-05-01 00:11:01.908000+00:00,846261,0,4662,901317372,595779437,97027250,161565995,14.90,11.92,...,Slazenger,4295.0,Kadın / Kız,550,Çorap,7009.0,Siyah,Siyah / Saks Mavi,BEDEN,36/40
4,2021-05-12 22:41:30.867000+00:00,974483,0,4662,940260429,617109919,97027250,161565995,14.90,11.95,...,Slazenger,4295.0,Kadın / Kız,550,Çorap,7009.0,Siyah,Siyah / Saks Mavi,BEDEN,36/40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11190457,2021-08-07 22:26:25.376000+00:00,14721505,0,226784,1121136136,729880531,81261441,137527005,89.90,69.90,...,By Liya's Collection,4295.0,Kadın / Kız,563,Pijama Takımı,7007.0,Pembe,PEMBE,BEDEN,7-8 Yaş
11190458,2021-08-07 23:08:15.537000+00:00,40314595,0,121578,1121198686,729922757,33204620,59772412,46.95,46.95,...,Spor Byfit,4294.0,Erkek,603,Atlet,6998.0,Beyaz,Beyaz,BEDEN,L
11190459,2021-08-07 23:08:15.537000+00:00,40314595,0,121578,1121198687,729922757,33204620,59792208,46.95,46.95,...,Spor Byfit,4294.0,Erkek,603,Atlet,6998.0,Beyaz,Beyaz,BEDEN,M
11190460,2021-08-07 23:16:46.148000+00:00,1476077,0,266396,1121211942,729930568,127605007,213391298,299.90,249.90,...,NEWİN BUTİK,4295.0,Kadın / Kız,2962,Büyük Beden Elbise,7012.0,Yeşil,YEŞİL,BEDEN,38
11190461,2021-08-07 23:32:55.812000+00:00,43786335,0,418863,1121232536,729944891,123214073,198866350,219.90,169.90,...,trendbaazar,4295.0,Kadın / Kız,586,Eşofman Takımı,7009.0,Siyah,SİYAH,BEDEN,11-12 Yaş

In [22]:
df["order_date"] = pd.to_datetime(df["order_date"])
df.sort_values("order_date", inplace=True)

In [23]:
#tüm csv ve featureların ekli olduğu
df.to_csv("data_all.csv", index=False)

In [24]:
df.columns

Index(['order_date', 'user_id', 'is_elite_user', 'supplier_id',
       'order_line_item_id', 'order_parent_id', 'product_content_id',
       'product_variant_id', 'original_price', 'discounted_price', 'ship_cost',
       'coupon_id', 'coupon_discount', 'promotion_name',
       'promotion_award_value', 'is_wallet_trx', 'is_saved_card_trx',
       'is_returned', 'returnRate', 'total_claim', 'unresolved_claim',
       'unresolved_accepted_claim', 'unresolvedclaim_percentage',
       'defective_returnRate', 'review_rates_mean', 'review_rates_min',
       'review_rates_max', 'review_rates_median', 'product_id', 'product_name',
       'brand_id', 'brand_name', 'gender_id', 'gender_name', 'category_id',
       'category_name', 'color_id', 'color_name', 'supplier_color_name',
       'attributet_name', 'attribute_value'],
      dtype='object')

In [25]:
train = df[df.order_date <= "2021-07-31"]
test = df[df.order_date > "2021-07-31"]

In [26]:
print(train.shape)
print(test.shape)

(10702717, 41)
(487745, 41)

In [27]:
drop_cols = ["order_date", "user_id", "supplier_id", "order_line_item_id",
             "order_parent_id", "product_content_id", "product_variant_id",
             "coupon_id", "promotion_name", "promotion_award_value"]

train = train.drop(drop_cols, axis=1)
test  = test.drop(drop_cols, axis=1)

In [28]:
print(train.shape)
print(test.shape)

(10702717, 31)
(487745, 31)

In [29]:
# kullanılmayan featureların drop edilmiş olduğu

drop_cols = ["order_date", "user_id", "supplier_id", "order_line_item_id",
             "order_parent_id", "product_content_id", "product_variant_id",
             "coupon_id", "promotion_name", "promotion_award_value"]

df = df.drop(drop_cols, axis=1)

df.to_csv("data_all_drop.csv", index=False)

In [30]:
df.is_returned.value_counts()

0.0    9399320
1.0    1370323
Name: is_returned, dtype: int64

In [31]:
train.to_csv("train_all.csv", index=False)
test.to_csv("test_all.csv", index=False)